*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgba(221, 160, 221, 0.559);;
    
}
.card-container{
    height: 60vh;
    
    
    justify-content: center;
    align-items: center;
    


}
h1 {
    text-align: center;
    color: #643050;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #a66181;
    border-radius: 5px;
    background-color: rgba(221, 160, 221, 0.559);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a66181;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(148, 71, 148, 0.559);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #672545;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    
}


section{
    display: flex;
    justify-content: center;
    
}
.details{
    position: relative;
    flex-direction: column;
    margin-top: 10%;
}

.details-container {
    
    margin: 20px;
    padding: 40px;
    border: 1px solid #a66181;
    border-radius: 5px;
    background-color: rgba(221, 160, 221, 0.559);
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;

}


footer{
    height: 40vh;
    margin: 0 1rem;
 }
 footer p{
    text-align: center;
 }

 .icon{
    cursor: pointer;
    height: 2rem;
    gap: 2rem;
    color: #a66181;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .icon img{
    height: 2rem;
    width: 2rem;
    margin-bottom: 20px;
 }
 .icon :hover{
    cursor: pointer;
 }